{% extends "base.html" %}
{% load score_tags %}

{% block jumbotron %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-6">
        <h1>Scorinator!</h1>
        <p>Open source projects scored!</p>
        <p>
        <a href="{% url 'project.add' %}" class="btn btn-success">
          <i class="glyphicon glyphicon-plus"></i>
          Add Project
        </a>
      </p>
      </div>
      <div class="col-md-3 col-md-offset-2" id="featured">
        Top Scored Project
        <h2>
          <a href="{% url 'project.detail' featured_project.slug %}">
            {{ featured_project.name }}
          </a>
          {{ featured_project.score|display_project_score }}
          <small>
            <a href="{{ featured_project.repo_url }}">
              {{ featured_project.repo_url }}
            </a>
          </small>
        </h2>
      </div>
    </div>
  </div>
{% endblock jumbotron %}

{% block content %}
  <section id="recent-scores">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Recent project scores</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <td>Score</td>
              <td>Name</td>
              <td>Repo URL</td>
            </tr>
          </thead>
          <tbody>
            {% for score in recent_scores %}
              <tr>
                <td>{{ score.total_score|display_project_score }}</td>
                <td>
                  <a href="{% url 'project.detail' score.project.slug %}">
                    {{ score.project.name }}
                  </a>
                </td>
                <td>
                  <a href="{{ score.project.repo_url }}">{{ score.project.repo_url }}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section id="all-projects">
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <a href="{% url 'project.list' %}" class="btn btn-success">
          View All Projects <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
      </div>
    </div>
  </section>

  <section id="info">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h2>Why</h2>

        <p>Actually there are 2 reasons.</p>

        <ol>
          <li>We thought it would be really helpful when looking at/for projects that you can get a quick grasp if the project is solid.</li>
          <li>It would be a helpful tool for developers to see whether their projects are hitting all the relevant points to make a project a good one.</li>
        </ol>

        <p>We hope to have decent information on the scoring attributes that indicate how to improve the project. What steps need to be taken to bring the score up on the particular attributes.</p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h2>How it Works</h2>

        <p>Basically there are a whole lof of attributes setup, for which data is gathered via a ton of API access to a bunch of services and combining the data and calculating a score for each of these attributes. The final score is arrived at by adding all these attribute scores together. For a more detailed explanation of how this is done, study the background image.</p>
      </div>
    </div>
  </section>
{% endblock %}
