{% extends "base.html" %}

{% block jumbotron %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Scorinator!</h1>
      <p>Your python applications rated</p>
      <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
  </div>
{% endblock jumbotron %}

{% block content %}
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Blah Blah</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Blah Blah</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Heading</h2>
      <p>Blah Blah</p>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
  </div>
{% endblock %}
