Django==1.5.4
South==0.8.2
django-extensions==1.1.1
django-model-utils==1.4.0
Unipath==0.2.1
django-analytical==0.15.0
pytz==2013b
django-annoying==0.7.7
psycopg2==2.5.1
dj-database-url==0.2.2
django-toolbelt==0.0.1
django-bootstrap3==0.0.7
djangorestframework==2.3.8
Markdown==2.3.1
django-filter==0.7
redis==2.7.5
hiredis==0.1.1

# deployment
Fabric==1.7.0
cuisine==0.6.4

# local dev
django-debug-toolbar==0.9.4
bpython==0.12

# documentation
Sphinx==1.2b2

# test
django-coverage==1.2.4
coverage==3.6
pep8==1.4.5
pyflakes==0.6.1
django-dynamic-fixture==1.6.5
