{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
  <div class="page-header">
    <h1>Add Project</h1>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <form method="post" action="" role="form">
        {% csrf_token %}
        {% bootstrap_field form.name %}
        <div class="form-group {% if 'url' in form.errors.keys %}has-error{% endif %}">
          <label>Github Repo</label>
          <div class="input-group">
            <span class="input-group-addon">https://github.com/</span>
            <input class="form-control" id="id_url_part" max_length="150" name="url_part" placeholder="[username]/[project_name]" type="text" value="{% if form.url_part.value %}{{ form.url_part.value }}{% else %}{{ form.url_part.initial }}{% endif %}" />
          </div>
          {% if 'url_part' in form.errors.keys %}
              {% for error in form.errors.url_part %}
                  <span class="help-block">{{ error }}</span>
              {% endfor %}
          {% endif %}
        </div>
        {% bootstrap_field form.primary_language %}
        {% bootstrap_field form.description %}
        {% bootstrap_form_buttons %}
          <button type="submit" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            Add Project
          </button>
          <a href="{% url 'project.list' %}" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i>
            Cancel
          </a>
        {% end_bootstrap_form_buttons %}
      </form>
    </div>
    </div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>Add a GitHub webhook</h2>
      <p>The easiest way to add your project and keep it up to date is to add a webhook to your github repo</p>
      <ol>
      <li>
        Click the "Admin" tab on your repo.<br>
        <img src="{% static 'img/GitHub-Step1.png' %}">
      </li>
      <li>
        Click on "Service Hooks".<br>
        <img src="{% static 'img/GitHub-Step2.png' %}">
      </li>
      <li>
        Click on the "Post-Receive URLs".<br>
        <img src="{% static 'img/GitHub-Step3.png' %}">
      </li>
      <li>
        Put in "<code>https://scorinator.herokuapp.com/hook/github/</code>" &amp; hit "Update Settings".
      </li>
    </ol>
    </div>
</div>
{% endblock content %}
