/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: url(../img/math-equations.jpg);
}

#content {
    padding-top: 30px;
    background: url(../img/paper_3.png);
    border: 1px solid #ccc;
}

footer {
    padding-bottom: 80px;
}