/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: url(../img/math-equations.jpg);
}

.page-header {
    border-bottom: 1px solid #ccc;
}

#content {
    padding-top: 30px;
    background: url(../img/paper_3.png);
    border: 1px solid #ccc;
}

footer {
    padding-bottom: 80px;
}

hr {
    border: 1px solid #cccccc;
}