body {
    background: url(../img/math-equations.jpg);
}

.jumbotron {
    background: none;
}

.page-header {
    border-bottom: 1px solid #ccc;
}

#content {
    padding-top: 30px;
    background: url(../img/paper_3.png);
    border: 1px solid #ccc;
}

section#all-projects {
    padding: 30px 0;
}

section#info {
    padding-top: 30px;
}

footer {
    padding-bottom: 80px;
    line-height: 0.8em;
}

hr {
    border: 1px solid #cccccc;
}

#chart-scores {
    margin-top: 30px;
}

#chart-scores path {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

#chart-scores circle {
    fill: #ccc;
    stroke: black;
    stroke-width: 2;
}

#chart-scores text {
    font-size: 11px;
}